@media screen and (max-width: 528px) {
    .text {
        font-size: 10px !important;
        font-weight: 100;
        gap: 0;
    }
    .table {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
        background-color: #fff;
    }
    .card {
        margin: 0;
        padding: 0;
        width: 100% !important;
        margin: 0 auto;
        background-color: #fff;
    }
    thead {
        font-size: 14px !important;
    }
    .card-body {
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: 520px) {
    .hide1 {
        display: none;
    }
}