@media screen and (max-width: 480px) {
    .table {
        width: 100% !important;
        margin: 0 auto;
        background-color: #fff;
    }
    .card {
        width: 100% !important;
        margin: 0 auto;
        background-color: #fff;
    }

}

@media screen and (max-width: 1225px) {
    .hidden {
        display: none;
    }
    .hide1 {
        display: flexbox;
    }
    .table, thead, tbody {
        width: 100%;
    }
    .text {
        font-size: 14px;
    }
}
@media screen and (min-width: 1226px) {
    .hide1 {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    
}


.kor {
    
    display: flex;
}
.kor p {
    width: 160px !important;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: blue;
    padding: 10px;
    color: #fff;
}
.kor span {
    min-width: 150px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightblue;
}